---
import { getCollection } from 'astro:content';
import type { GetStaticPaths } from 'astro';
import ContentLayout from '../../layouts/ContentLayout.astro';

export const getStaticPaths: GetStaticPaths = async () => {
  const entries = await getCollection('presentations', ({ data }) => !data.draft);
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ContentLayout
  title={entry.data.title}
  description={entry.data.description}
  publishedAt={entry.data.publishedAt}
  tags={entry.data.tags}
>
  {
    entry.data.slideCount && (
      <p>
        <strong>Slides:</strong> {entry.data.slideCount}
      </p>
    )
  }
  <Content />
</ContentLayout>
